.work {
	padding-top: 140px;

	&-list {
		// display: grid;
		// grid-template-columns: repeat(3, 1fr);
		// grid-column-gap: 70px;
		display: flex;
		justify-content: space-between;
	}

	&-item {
		width: calc(33.33% - 46.67px);
		padding: 40px 30px;
		border: 1px solid $gray-light;
		border-radius: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		line-height: 1.4;
		transition: all 0.2s linear;
	}

	&-item:hover {
		border-color: transparent;
		box-shadow: 0 0 50px 10px rgba(black, 0.09);
	}

	&-image {
		margin-bottom: 35px;
		max-height: 115px;
	}

	&-title {
		font-size: 23px;
		font-weight: 500;
		margin-bottom: 30px;
	}

	&-desc {
		font-weight: 300;
		margin-bottom: 35px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
		width: 100%;
		max-width: 100%;
		color: $gray;
	}
}
